.edit-container {
  position: relative;
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  padding: 12px;
  gap: 24px;
  max-width: 584px;

  // debug
  background-color: rgba(255, 255, 255, 0.2);
}

.edit-row {
  display: flex;
  flex-wrap: wrap;
}

.edit-col {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;

  // debug
  color: black;

  &.--a {
    // debug
    background-color: #cffafe;
    height: 48px;
  }
  &.--b {
    // debug
    background-color: #f8cffe;
    height: 240px;
  }
  &.--c {
    // debug
    background-color: #dafecf;
    height: 152px;
  }
  &.--d {
    // debug
    background-color: #fef5cf;
    height: 32px;
  }
}
