
body, html {
  height: 100%;
  width: 100%;
  background-color: #39466B;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.meta-wrap {
  background-color: #39466B;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.meta-ttl {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  margin: 0 0 1rem 0;
  padding: 0;
}

.app-wrap {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 656px;
  width: 100%;
  max-width: 1216px;
}