@use './variables' as *;
@use 'sass:map';

.app-container {
  width: 100%;
  max-width: 100%;
  padding: 0 $app-gutter;

  @media (min-width: map.get($app-breakpoints, "sm")) {
    max-width: map.get($app-max-widths, "sm");
  }

  @media (min-width: map.get($app-breakpoints, "md")) {
    max-width: map.get($app-max-widths, "md");
  }

  @media (min-width: map.get($app-breakpoints, "lg")) {
    max-width: map.get($app-max-widths, "lg");
  }

  @media (min-width: map.get($app-breakpoints, "xl")) {
    max-width: map.get($app-max-widths, "xl");
  }
}

.app-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1 * $app-gutter;
}

.app-row > [class^="app-col-"] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0 $app-gutter;
}

.app-col-12 {
  width: 100%;
}

.app-col-6 {
  width: 50%;
}

.app-col-4 {
  width: 25%;
}

.app-col-lg-6 {
  @media (min-width: map.get($app-breakpoints, "lg")) {
    width: 50%;
  }
}
