@use './variables' as *;

.meta-wrap {
  background-color: #121822;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.meta-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.meta-github-link {
  color: #ccc;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;

  &:hover {
    color: $color-role-text;
  }
}

.meta-ttl {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: $color-role-text;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.app {
  display: flex;
  justify-content: center;
  color: $color-role-text;
  height: auto;
  padding: $app-gutter 0;
}

.app-body {
  background-color: $color-slate-900;
  border-radius: 6px;
  padding: $app-gutter 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.head-container {
  width: 100%;
  height: 36px;
}

.pad-container {
  position: relative;
  z-index: 1;
}

// .edit-container {}
