@use './variables' as *;

.meta-wrap {
  background-color: #39466b;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.meta-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 1rem 0;
}

.meta-github-link {
  color: #ccc;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;

  &:hover {
    color: white;
  }
}

.meta-ttl {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.app {
  display: flex;
  justify-content: center;
  color: white;
  height: auto;
}

.app-body {
  background-color: $color-slate-900;
  border-radius: 6px;
  padding: $app-gutter 0;
}

.head-container {
  width: 100%;
  height: 36px;
  // debug
  color: white;
  // background-color: rgba(255, 255, 255, 0.2);
}

.pad-container {
  position: relative;
  z-index: 1;
}

.edit-container {
  // background-color: blue;
}
