@use './variables' as *;

.app-u-py-gutter {
  padding-top: $app-gutter !important;
  padding-bottom: $app-gutter !important;
}

.app-u-my-gutter {
  margin-top: $app-gutter !important;
  margin-bottom: $app-gutter !important;
}

.app-u-mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.app-u-px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.app-u-p-0 {
  padding: 0 !important;
}

.app-u-m-0 {
  margin: 0 !important;
}

.app-u-mb-gutter {
  margin-bottom: $app-gutter !important;
}

.app-u-pb-gutter {
  padding-bottom: $app-gutter !important;
}

.app-u-position-relative {
  position: relative !important;
}
